@import "../../global.scss";

.menu{
    width: 300px;
    height: 100vh;
    background-color: #341e83;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    &.active {
        right: 0;
    }


    a{
        font-size: inherit;
        color: inherit;
        text-decoration: none;
    }
    ul{
        margin: 0;
        list-style: none;
        font-size: 30px;
        font-weight: 400;
        color: white;
        width: 70%; /* keep the menu from moving when hover*/
        

        li{
            margin-bottom: 15px;
            color: white;

            &:hover{
                font-weight: 700;
            }
        }
    }
}