@import "../../global.scss";

.skills {
  background-color: $mainColor;
  color: white;

  .wrapper {
    width: 80vw;
    height: 100vh;
    margin-left: 5%;
    display: flex;
    padding-top: 3vh;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  


    @include mobile {
      padding-left: 0;
      justify-items: center;
      inline-size: 70vw;
 
    }

    h1 {
      font-size: 50px;
      margin-top: -10px;
      margin-bottom: 20px;
      text-shadow: -3px 3px 2px#72728633;

      @include mobile {
        margin-top: 10px;
        font-size: 35px;
        
      }

      strong {
        display: inline;
        color: white;
      }
      span {
        font-size: inherit;
        color: rgba(255, 255, 255, 0.5);
      }
    }

    h2 {
      flex-flow: row;
      flex-wrap: wrap;
      font-size: 25px;
      margin-left: 5%;
      margin-bottom: 1%;
      
      @include mobile {
        font-size: 18px;
      }
      a {
        font-weight: 600;
        color: white;
      }

      span {
        font-size: inherit;
        color: rgba(255, 255, 255, 0.5);
      }

      strong {
        font-weight: 800;
        display: inline;

      }
      .icon{
        @include mobile {
          font-size: 15px;
        }

      }

    }

  

  }


}