@import "../../global.scss";

.contact {
  background-color: $mainColor;
  color: white;

  .wrapper {
    width: 80vw;
    height: 80vh;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;


    @include mobile {
      padding-left: 0;
      justify-items: center;
      inline-size: 70vw;
      overflow: visible;
 
    }

    h1 {
      font-size: 60px;
      margin-top: -10px;
      margin-bottom: 20px;
      text-shadow: -3px 3px 2px#72728633;

      @include mobile {
        margin-top: 10px;
        font-size: 30px;
        overflow: visible;
      }

      strong {
        display: inline;
        color: white;
      }
    }

    h2 {
      flex-flow: row;
      flex-wrap: wrap;
      font-size: 30px;
      margin-left: 5%;
      margin-bottom: 1%;
      
      @include mobile {
        font-size: 15px;
      }
      a {
        font-weight: 600;
        color: white;
      }

      span {
        font-size: inherit;
        color: white;
      }

      strong {
        font-weight: 800;
        display: inline;

      }
      .icon{
        @include mobile {
          font-size: 15px;
        }

      }

    }

  

  }

  .bottom {
    display: flex;
    justify-content: center;
    flex: 0.5;
    text-align: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    /* splits in half using flex */
    overflow: visible;

    @include mobile {
      padding-left: 0;
      align-items: center;
    }
  }

  .Typewriter {
    display: inline;
  }
}