.App{
    height:100vh;
    
    /* can nest in scss */
    .sections{
        width:100%;
        height: calc(100vh - 70px); /* calculate to account for header overflow */
        background-color: white;
        position: relative;
        top: 70px; /* start after 70 px */
        scroll-behavior: smooth; /* goes to page section smoothly */
        scrollbar-width: none; /* firefox rid of scrollbar */
        &::-webkit-scrollbar{ /* other browsers */
            display:none;
        }
        
        > *{ /* for all elements inside the sections */
            width: 100vw;
            height: calc(100vh - 70px);
        }
        
    }

    #portfolioSection{
        height: 100%;   
    }
}