.App{
    height:100vh;
    
    /* can nest in scss */
    .sections{
    
        position: relative;
        top: 70px; /* start after 70 px */
        
    }

    #portfolioSection{
        height: 100%;   
    }
}